TDX_BASE_URL=http://127.0.0.1:17709/
THS_BASE_URL=https://fuyao.aicubes.cn
THS_API_KEY=
TUSHARE_BASE_URL=https://fastapic.stockai888.top
TUSHARE_BASE_TOKEN=
ASTOCK_DATA_DIR=./data
ASTOCK_DB_PATH=./data/astock.db
ASTOCK_INITIAL_CASH=100000
ASTOCK_SOURCE_ID=windows-primary
ASTOCK_SYNC_BASE_URL=
ASTOCK_SYNC_TOKEN=
ASTOCK_ALLOWED_TAILSCALE_USERS=
ASTOCK_SERVER_DATA_DIR=./server-data
ASTOCK_WEB_STATIC_DIR=./web/dist
ASTOCK_PAPER_EXECUTION_ENABLED=false
